[MASTER]
# Add c-extension based modules to this list if they are not
# recognized by pylint.
extension-pkg-whitelist=faiss_cpu

[MESSAGES CONTROL]
# Disable the following messages globally:
# C0114: Missing module docstring
# C0115: Missing class docstring
# C0116: Missing function or method docstring
# C0301: Line too long
# W0611: Unused import (если вы уверены, что импорты используются)
# W0511: Fixme (для игнорирования TODO/FIXME комментариев, если они есть)
# E0401: Unable to import (Временно отключаем, если проблема с импортами осталась после обновления requirements.txt)
disable=C0114,C0115,C0116,C0301,W0611,W0511,E0401

[FORMAT]
# Maximum number of characters on a single line.
max-line-length=120